$undone-progress-border: 2px solid #F0F0F5;
$done-progress-border: 2px solid #000000;
$progress-current-color: var(--grey-800);
$progress-done-color: var(--white);
$progress-undone-color: #AFB1BD;


%current-icon {
    color: $progress-current-color;
    background-color: transparent;
    border: 1px solid $progress-current-color;
}
%current-text {
    color: $progress-current-color;
}
%undone-icon {
    color: $progress-undone-color;
    background-color: transparent;
    border: 1px solid $progress-undone-color;
}
%undone-text {
    color: $progress-undone-color;
}
%done-icon {
    color: $progress-done-color;
    background-color: transparent;
}
%done-text {
    @extend %current-text;
}

@mixin input-width($prefix, $division) {
    $form-full-width: 540;

    @for $index from 1 to ($division + 1) {
        .#{$prefix}-#{$index} {
            width: 100% * (($index * 65 + ($index - 1) * 30) / $form-full-width);
        }
    }
}

main {
    margin-top: 80px;
    background-color: inherit;
    padding: 0 15px;

    .main-container {
        display: flex;
        position: relative;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
        background-color: inherit;
        flex-wrap: wrap;

        .register-container {
            h2.register-title {
                font-weight: 700;
                font-size: 32px;
                line-height: 38px;
            }

            .progress-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 48px;

                .progress-bar {
                    display: flex;
                    flex-grow: 1;
                    max-width: 60px;
                    height: 1px;
                    margin: 0px 8px;
                }

                .progress-group {
                    display: flex;

                    .progress-icon {
                        display: inline-block;
                        position: relative;
                        width: 24px;
                        height: 24px;
                        margin-right: 8px;
                        border-radius: 50%;

                        .text {
                            position: absolute;
                            top: 0px;
                            width: inherit;
                            height: inherit;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 24px;
                            text-align: center;
                        }
                        .icon {
                            width: inherit;
                            height: inherit;
                            > svg {
                                width: inherit;
                                height: inherit;
                            }
                        }
                    }
                    .progress-text {
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }
        }
        @for $index from 1 to 4 {
            .register-container[data-phase="#{$index}"] {
                .progress-bar {
                    &.pb-1 {
                        border: $done-progress-border;
                    }
                    &.pb-2 {
                        @if $index == 1 {
                            border: $undone-progress-border;
                        } @else {
                            border: $done-progress-border;
                        }
                    }
                }
                @for $pg-index from 1 to 4 {
                    .progress-group.pg-#{$pg-index} {
                        @if $index < $pg-index {
                            .progress-icon {
                                @extend %undone-icon;
                                .icon {
                                    display: none;
                                }
                                .text {
                                    display: inline-block;
                                }
                            }
                            .progress-text {
                                @extend %undone-text;
                            }
                        } @else if $index == $pg-index {
                            .progress-icon {
                                @extend %current-icon;
                                .icon {
                                    display: none;
                                }
                                .text {
                                    display: inline-block;
                                }
                            }
                            .progress-text {
                                @extend %current-text;
                            }
                        } @else {
                            .progress-icon {
                                @extend %done-icon;
                                .icon {
                                    display: inline-block;
                                }
                                .text {
                                    display: none;
                                }
                            }
                            .progress-text {
                                @extend %done-text;
                            }
                        }
                        @if $pg-index == 1 {
                            .progress-icon {
                                color: var(--white);
                                background-color: var(--grey-800);
                            }
                        }
                    }
                }
            }
        }

        $form-map: (1: 'form-address', 2: 'form-shipping', 3: 'form-credit-card');
        @for $index from 1 to 4 {
            .register-container[data-phase="#{$index}"] {
                @each $key, $form-name in $form-map {
                    .#{$form-name} {
                        @if $index == $key {
                            display: flex;   
                        } @else {
                            display: none;
                        }
                    }
                }

                & ~ .progress-control-container {
                    @each $key, $form-name in $form-map {
                        .#{$form-name}-control {
                            @if $index == $key {
                                display: flex;   
                            } @else {
                                display: none;
                            }
                        }
                    }
                } 
            }
        }
            
        .form-container {
            display: flex;
            margin-top: 64px;

            .form-title {
                display: flex;
                flex: 0 0 100%;
                font-weight: 700;
                font-size: 24px;
                line-height: 24px;
            }
            .form-body {
                .col {
                    justify-content: space-between;
                }

                .input-group {
                    margin-top: 24px;

                    .input-label {
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 16px;
                        color: var(--grey-400);
                        margin-bottom: 8px;
                    }
                    .select-container {
                        position: relative;
                        &::after {
                            z-index: -2;
                            pointer-events: none;
                            position: absolute;
                            top: 50%;
                            right: 12px;
                            transform: translateY(-50%);
                            content: "";
                            border-style: solid;
                            border-width: 6px 5px 0 5px;
                            border-color: var(--grey-800) transparent transparent transparent;
                        }
                    }

                    input, select {
                        width: 100%;
                        font-weight: 400;
                        font-size: 12px;
                        font-family: 'Noto Sans TC', sans-serif;
                        line-height: 16px;
                        padding: 12px 16px;
                        border: 1px solid #4A4A4A;
                        border-radius: 4px;
                    }
                    input {
                        color: var(--grey-300);
                    }
                    select {
                        color: var(--grey-800);
                        &:required:invalid {
                            color: var(--grey-300);
                        }
                        background-color: transparent;
                        cursor: pointer;
                        -webkit-appearance: none;

                        option {
                            &[value=""][disabled] {
                                display: none;
                            }
                            color: var(--grey-800);
                        }
                    }
                }

                .radio-group {
                    position: relative;
                    justify-content: unset;
                    padding: 11px 20px;
                    margin-top: 24px;

                    input[type='radio'] {
                        width: 20px;
                        height: 20px;
                        -webkit-appearance: none;
                        margin-right: 20px;
                        align-self: center;
                    }

                    input[type='radio']::before {
                        content: '';
                        display: block;
                        width: inherit;
                        height: inherit;
                        border: 1px solid #222222;
                        border-radius: 50%;
                    }

                    input[type='radio']:checked::before {
                        border: 6px solid var(--grey-800);
                        border: 50%;
                    }

                    .radio-info {
                        display: flex;
                        flex-grow: 1;
                        flex-wrap: wrap;
                        align-content: center;

                        .col {
                            margin-bottom: 2px;
                        }
                        .shipping-text {
                            font-size: 14px;
                            font-weight: normal;
                            line-height: 20px;
                        }
                        .shipping-price, .shipping-period {
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }

                    .radio-box-border {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                    }

                    input[type='radio'] ~ .radio-box-border {
                        border-radius: 4px;
                        border: 1px solid #F0F0F5;
                    }
                    input[type='radio']:checked ~ .radio-box-border {
                        border: 1px solid #2A2A2A;
                    }

                    #shipping-standard ~ .radio-info .shipping-text {
                        font-weight: normal;
                    }
                    #shipping-dhl ~ .radio-info .shipping-text {
                        font-weight: 700;
                    }
                }
            }
        }

        .cart-container {
            padding: 0px 24px;
            margin-top: 166px;
            border: 1px solid #F0F0F5;
            border-radius: 8px;

            .cart-title {
                display: flex;
                flex: 0 0 100%;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                margin: 32px 0px;
            }

            .product-list {

                .product-container {
                    display: flex;
                    flex-wrap: nowrap;
                    margin-top: 2px;
                    margin-bottom: 32px;

                    .img-container {
                        width: 100px;
                        height: 100px;
                        margin-right: 21px;

                        > img {
                            width: inherit;
                            height: inherit;
                        }
                    }
                    .product-info {
                        display: flex;
                        flex-wrap: wrap;
                        flex-grow: 1;
                        align-content: flex-start;

                        .product-name {
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 400;
                            max-width: 60%;
                            margin-right: auto;
                        }

                        .product-control-container {
                            order: 1;
                            display: block;
                            width: 100%;
                        }

                        .product-control {
                            width: 116px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-top: 18px;
                            margin-bottom: 17px;

                            .product-action {
                                width: 27px;
                                height: 26px;
                                display: inline-block;
                            }

                            .product-count {
                                display: inline-block;
                            }
                        }

                        .product-price {
                            font-size: 16px;
                            line-height: 22px;
                            font-weight: 700;
                        }
                    }


                }
            }

            .cart-info {
                border-top: 1px solid #F0F0F5;
                padding-top: 16px;
                padding-bottom: 32px;
                align-items: center;
                justify-content: space-between;

                .text {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #2A2A2A;
                }

                .price {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                }
            }
        }

        .progress-control-container {
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;

            .button-group {
                padding-top: 24px;
                border-top: 1px solid #E6E6EB;

                & > button {
                    height: 46px;
                    border-radius: 8px;
                    object-position: 0 0;
                    border-width: 0px;
                    font-family: Inter, sans-serif;
                    font-size: 14px;
                    padding: 0px 0px;

                    &.prev {
                        background-color: transparent;
                        line-height: 20px;
                        font-weight: 400;
                        > span {
                            margin-right: 12px;
                        }
                    }
                    &.next {
                        width: 174px;
                        background: #F67599;
                        color: white;
                        margin-left: auto;
                        line-height: 17px;
                        font-weight: 500;
                        > span {
                            margin-left: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $screen-break-point) {
    @include input-width('input-w-lg', 6);
}

@media screen and (max-width: $screen-break-point) {
    $mobile-form-full-width: 346;
    .input-w-sm-s1 {
        width: 100% * 133 / $mobile-form-full-width;
    }
    .input-w-sm-s2 {
        width: 100% * 183 / $mobile-form-full-width;
    }
    .input-w-sm-s3 {
        width: 100% * 158 / $mobile-form-full-width;
    }
    .input-w-sm-full {
        width: 100%;
    }
    main {
        margin-top: 16px;
        .main-container {
            .register-container {
                .progress-container {
                    margin-top: 24px;
                    .progress-group {
                        .progress-icon {
                            width: 32px;
                            height: 32px;
                            margin-right: 0px;

                            .text {
                                
                                line-height: 32px;;
                            }
                        }
                    }
                    .progress-text {
                        display: none;
                    }
                }
                .form-container {
                    margin-top: 24px;
                }
            }
            .cart-container {
                margin-top: 32px;
                padding-top: 18px;

                .cart-title {
                    display: none;
                }

                .product-list {
                    .product-container {
                        .product-info {
                            flex-direction: column;
                            align-items: flex-end;
                            flex-wrap: nowrap;
                            justify-content: space-between;

                            .product-name {
                                margin-right: unset;
                                max-width: unset;
                            }

                            .product-control-container {
                                order: unset;
                                width: auto;
                                .product-control {
                                    margin-top: 0px;
                                    margin-bottom: 0px;
                                }
                            }
                        }
                    }
                }

                .cart-info {
                    padding-bottom: 16px;
                }
            }
            .progress-control-container {
                position: relative;
                margin-top: 24px;
                margin-bottom: 40px;
                .button-group > button.next {
                    width: 156px;
                }

                .form-address-control {
                    button.next {
                        width: 100%;
                    }
                }
            }
        }
    }
}