$header-menu-item-margin-x: 16px;
$header-action-item-margin-x: 15px;

:root {
    --header-height: 60px;
    --header-logo-width: 170px;
}

header {
    position: sticky;
    top: 0px;
    padding: 0px 15px;
    z-index: 100;
    text-align: center;
    background-color: inherit;

    .navbar-toggle {
        display: none;
    }
    label.burger-container {
        display: none;
    }

    .site-logo-container {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: var(--header-logo-width);
        
        & > svg {
            width: inherit;
            height: inherit;
        }
    }

    .header-container {
        display: flex;
        align-items: center;
        height: var(--header-height);
        max-width: 1100px;
        margin: 0 auto;
        background-color: inherit;
    }

    nav {
        display: flex;
        flex-grow: 1;
        align-items: center;
        height: inherit;
        background-color: inherit;

        .nav-list {
            display: flex;
            flex-direction: row;
            overflow: hidden;
            background-color: inherit;

            .nav-item {
                cursor: pointer;

                .nav-link {
                    font-weight: 500;
                    line-height: 24px;
                    text-decoration: none;
                    color: var(--text);
                }
            }

            &.site-menu-list {
                max-width: calc(50% - var(--header-logo-width) / 2 - #{$header-menu-item-margin-x} / 8);

                .nav-item {
                    margin: 0 $header-menu-item-margin-x;

                    &:first-child {
                        margin-left: 0px;
                    }
                }
            }
            &.site-action-list {
                max-width: calc(50% - var(--header-logo-width) / 2 - #{$header-action-item-margin-x} / 8);

                .nav-item {
                    margin: 0 $header-action-item-margin-x;

                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}

body[dark=false] {
    .toggle-moon {
        display: inline;
    }
    .toggle-sun {
        display: none;
    }
}
body[dark=true] {
    .toggle-moon {
        display: none;
    }
    .toggle-sun {
        display: inline;
    }
}

@media screen and (max-width: $screen-break-point){
    :root {
        --header-height: 56px;
        --header-logo-width: 136px;
    }

    header {
        label.burger-container {
            display: flex;
            align-items: center;
            position: absolute;
            left: var(--site-edge-margin);
    
            > svg {
                cursor: pointer;
            }
        }

        nav {
            display: block;
            margin-top: 96px;
            opacity: 0;
            transform: scale(1, 0);
            transform-origin: top;
            transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out, opacity 0.3s;

            .nav-list {
                justify-content: center;

                .nav-item {
                    position: relative;
                    padding: 24px 0;

                    .nav-link {
                        display: block;
                    }
                }

                &.site-menu-list {
                    max-width: unset;
                    flex-direction: column;

                    .nav-item {
                        margin: 0px;

                        &::after {
                            position: absolute;
                            left: 15px;
                            right: 15px;
                            bottom: 0px;
                            border-bottom: 1px solid rgba(42, 42, 42, 0.1);
                            content: "";
                        }
                    }
                    li.nav-item {
                        &:first-child {
                            padding-top: 0px;
                        }
                        &:nth-child(4) {
                            order: 1;
                        }
                    }
                }
                &.site-action-list {
                    max-width: unset;
                }
            }
        }
    }

    #navbar-toggle:checked ~ nav.navbar-menu {
        opacity: 1;
        transform: scale(1);
    }
}